*{
    background-color:black;
    color: white;
    margin: 0;
}
#rr{
    font-style: italic;
}

.container{
    display: grid;
    grid-template-columns: 70px 65px 83px 58px;
    column-gap: 1px;
    position: relative;
    left: 1100px;
    top:-3px;
    width: fit-content;
}
a{
    width: fit-content;
    /* border: 1px solid white; */
    border-right: 1px solid white;
    text-decoration: solid;
}
 a:hover{
    background-image:linear-gradient(rgb(147, 248, 255), rgb(139, 253, 255));
    color:black;
    box-shadow: 2px 2px 2px gray;
    border-radius: 2px;
} 
#img1{
    height: 500px;
    width: 1400px;

    
}

.cont{
    display: grid;
    grid-template-columns: auto auto auto;
    column-gap: 50px;
    position:absolute;
    left: 200px; 
    
}
#img2{
    border: 1px solid white; 
    height: 200px;
    width: 280px;
}
#img2:hover{
    box-shadow: 6px 2px 6px rgb(57, 212, 243);
}
marquee{
    position:absolute;
    top:680px;
    left: 200px;
    width: 280px;
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    color:blanchedalmond;
}
p{
    text-align: justify;    
    width: 280px;

}
